<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appleyk.mapper.FeatureMapper">

    <resultMap type="com.appleyk.entity.FeatureEntity" id="featureEntities">
        <id property="id" column="id"/>
        <result property="geom" column="geom"/>
        <result property="metaId" column="meta_id"/>
        <result property="attributes" column="attributes"/>
    </resultMap>

    <sql id="TABLE_COLUMNS">
        id,
        geom,
        meta_id,
        attributes
	</sql>

    <select id="getFeatures" statementType="PREPARED" resultType="java.util.List" resultMap="featureEntities">
        select <include refid="TABLE_COLUMNS"/>  from gx_feature_${groupId}
    </select>

    <insert id="saveFeature" >
        insert into gx_feature_${groupId}(<include refid="TABLE_COLUMNS"/>) values(
        ${entity.id},
        null,
        ${entity.metaId},
        null,
        )
    </insert>

    <update id="createFeature" statementType="PREPARED" parameterType="string">
        CREATE TABLE  gx_feature_${groupId} (
        "id" int8 NOT NULL,
        "geom" "public"."geometry",
        "meta_id" int8,
        "attributes" jsonb
          );
        CREATE INDEX  INDEX_GEOM_${groupId}  ON gx_feature_${groupId} USING gist (
          "geom" "public"."gist_geometry_ops_2d"
        );
        CREATE INDEX INDEX_META_ID_${groupId} ON gx_feature_${groupId} USING btree (
          "meta_id" "pg_catalog"."int8_ops" ASC NULLS LAST
        );
        ALTER TABLE gx_feature_${groupId} ADD CONSTRAINT IN_PK_${groupId} PRIMARY KEY ("id");
    </update>

</mapper>